[submodule "aws-load-balancer-controller"]
	path = aws-load-balancer-controller
	url = https://github.com/kubernetes-sigs/aws-load-balancer-controller.git
[submodule "metrics-server"]
	path = metrics-server
	url = https://github.com/kubernetes-sigs/metrics-server.git
[submodule "autoscaler"]
	path = autoscaler
	url = https://github.com/kubernetes/autoscaler.git
[submodule "aws-ebs-csi-driver"]
	path = aws-ebs-csi-driver
	url = https://github.com/kubernetes-sigs/aws-ebs-csi-driver
[submodule "aws-efs-csi-driver"]
	path = aws-efs-csi-driver
	url = https://github.com/kubernetes-sigs/aws-efs-csi-driver.git
[submodule "aws-fsx-csi-driver"]
	path = aws-fsx-csi-driver
	url = https://github.com/kubernetes-sigs/aws-fsx-csi-driver.git
[submodule "amazon-vpc-cni-k8s"]
	path = amazon-vpc-cni-k8s
	url = https://github.com/aws/amazon-vpc-cni-k8s.git
[submodule "prometheus/helm-charts"]
	path = prometheus/helm-charts
	url = https://github.com/prometheus-community/helm-charts.git
